html, body{
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}
.header{
  background-image: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
      background-size: 100% 100%;
   text-align: center;
   height: 300px;
}
.logo{
  margin-top: 140px;
}
.top-content{
  text-align: center;
}
.top-content-heading, .middle-content-bottom-heading, .bottom-content-bot-heading{
  font-weight: 600;
  font-size: 40px;
  color: hsl(210, 10%, 33%);
  margin-bottom: 15px;
}
.top-content-text, .middle-content-bottom-text, .bottom-content-bot-text{
  font-weight: 400;
  font-size: 20px;
  color: hsl(201, 11%, 66%);
  width: 50%;
  margin: auto;
  padding-bottom: 60px;
  line-height: 32px;
}
button{
    width: 220px;
    height: 46px;
    border-radius: 28px;
    margin-bottom: 60px;
    margin-left: 1%;
    position: relative;
    right: 1%;
    font-weight: 600;
    color: white;
    font-size: 16px;
}
.top-content-button-1, .button-1{
  border: none;
  background-color: hsl(171, 66%, 44%);
  -webkit-box-shadow: 0px 0px 63px -8px rgba(57,166,148,0.79);
-moz-box-shadow: 0px 0px 63px -8px rgba(57,166,148,0.79);
box-shadow: 0px 0px 63px -8px rgba(57,166,148,0.79);

}
.top-content-button-2, .button-2{
  border: none;
  background-color:hsl(233, 100%, 69%);
  -webkit-box-shadow: 0px 0px 63px -8px rgba(97,115,255,1);
-moz-box-shadow: 0px 0px 63px -8px rgba(97,115,255,1);
box-shadow: 0px 0px 63px -8px rgba(97,115,255,1);
}
.middle-content{
  display: flex;
}
.middle-content-left{
  display: inline-block;
}
.middle-content-image{
  position: relative;
  right: 30px;
}
.middle-content-right{
  display: inline-block;
}
.middle-content-heading{
  font-weight: 600;
  margin-top: 60px;
  font-size: 32px;
  margin-left: 6%;
  color: hsl(210, 10%, 33%);

}
.middle-content-text{
  font-weight: 400;
  margin-left: 6%;
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
width: 55%;
color: hsl(201, 11%, 66%);
}
.middle-content-bottom{
  text-align: center;
}
.middle-content-bottom-heading{
  margin-top: 140px;
  margin-bottom: 10px;
}
.bottom-content{
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
.bottom-content-first-col, .bottom-content-second-col, .bottom-content-third-col{
  width: 33%;
  text-align: center;
}
.bottom-content-heading{
  font-weight: 600;
  margin-top: 20px;
  font-size: 24px;
  color: hsl(210, 10%, 33%);

}
.bottom-content-text{
  font-weight: 400;
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
color: hsl(201, 11%, 66%);
}
.bottom-content-bot{
  text-align: center;
}
.bottom-logos{
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.bottom-logo{
margin-left: 2%;
margin-right: 2%;
}
.footer{
  background-color: hsl(201, 11%, 66%);
display: flex;

}
.footer-content{
color:  hsl(210, 10%, 33%);

}
.footer-logo{
  width: 20%;
  text-align: center;
}
.footer-bottom-logo{
  width: 60px;
  margin-top: 40px;
}
.footer-content{
  width: 60%;
  padding-bottom: 50px;
}
.footer-content-bottom-text, .footer-content-top-text{
  display: inline-block;
  margin: 30px 0px 0px 60px;
  width: 140px;
  font-size: 18px;
}
.footer-icons{
  width: 20%
}
.icon{
  margin-top: 40px;
  margin-left: 25px;
}

@media screen and (max-width: 375px){
  .top-content-text, .middle-content-bottom-text, .bottom-content-bot-text{
    font-weight: 400;
    font-size: 20px;
    color: hsl(201, 11%, 66%);
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
    line-height: 32px;
  }
  .middle-content-image{
    position: block;
    width: 365px;
    position: relative;
    left: 0px;
  }
  .middle-content{
    display: block;
    text-align: center;

  }
  .middle-content-text{
    text-align: center;
  margin: auto;
  margin-top: 25px;
  }
  .img-btn{
    width: 365px;
    margin-left: 3%;
  }
  .middle-content-bottom-heading{
    margin-top: 25px;
  }
  .bottom-content{
    display: block;
  }
  .bottom-content-first-col, .bottom-content-second-col, .bottom-content-third-col{
    width: 100%;

  }
  .bottom-logos{
    display: block;
  }
  .bottom-logo{
    width: 51%;
    margin-bottom: 80px;
  }
  .header{
    background-image: url('images/bg-header-mobile.png');
    background-repeat: no-repeat;
        background-size: 100% 100%;
     text-align: center;
     height: 300px;
  }
}
